.payment-title {
    margin: 20px;
}

/* .ng-valid,
.ng-valid.required {
  background-color: lightgreen;
} */

.ng-invalid:not(form) {
  background-color: lightcoral;
}

.bckGndGreen {
  background-color: lightgreen;
}